<a href="https://colab.research.google.com/github/Chiranjeevi141004/Assignments/blob/main/Day5_6Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 5**

In [ ]:
n = int(input("Enter a positive integer: "))
print("Numbers from 1 to", n, ":")
for i in range(1, n + 1):
    print(i)
sum_n = 0
i = 1
while i <= n:
    sum_n += i
    i += 1
print("Sum of all numbers from 1 to", n, "is:", sum_n)

Enter a positive integer: 5
Numbers from 1 to 5 :
1
2
3
4
5
Sum of all numbers from 1 to 5 is: 15

In [ ]:
def square(n):
    return n * n
n = int(input("Enter a positive integer: "))
square_n = square(n)
print("The square of", n, "is:", square_n)

Enter a positive integer: 5
The square of 5 is: 25

**Day 6**

In [ ]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with the 'Bonus' column added:")
print(df)
average_salary = df['Salary'].mean()
print("\nAverage salary of employees:", average_salary)
filtered_df = df[df['Age'] > 25]
print("\nEmployees who are older than 25:")
print(filtered_df)

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with the 'Bonus' column added:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average salary of employees: 47500.0

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0